Django==4.2.30
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
psycopg2-binary==2.9.9
django-environ==0.11.2
reportlab==4.2.5
openpyxl==3.1.5
qrcode==7.4.2
pypdf==4.3.1
Pillow==10.4.0
requests==2.32.3
drf-spectacular==0.27.2
gunicorn==22.0.0
whitenoise==6.7.0
